<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('title') %> </strong>
  <%= @badge.title %>
</p>

<p>
  <strong><%= t('image') %> </strong>
  <%= image_tag(@badge.img) %>
</p>

<p>
  <strong><%= t('condition') %> </strong>
  <%= @badge.condition %>
</p>

<p>
  <strong><%= t('option') %> </strong>
  <%= @badge.option %>
</p>

<%= link_to t('edit'), edit_admin_badge_path(@badge) %> |
<%= link_to t('back'), admin_badges_path %>
