<h1>Passing the <%= @test_passage.test.title %> test </h1>

<b>
  <%= @test_passage.current_question.title %>
</b>

<%= link_to t('create_gist'), test_passage_gist_index_path(@test_passage), method: :post %>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title,
                                  include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
    <% end %>

  <p>
    <%= form.submit t('next')%>
  </p>

  <div>
    <%= t("Time_left") %>
    <span id="time" data-test_passage_id="<%= @test_passage.id %>"></span>
  </div>

  <div id="myProgress">
    <div id="myBar">00%</div>
  </div>

  <%= javascript_tag "new ProgressBar(document.getElementById('myBar')).move(#{test_progress(@test_passage)})" %>
  <%= javascript_tag "timer = new Timer(document.getElementById('time'), #{time(@test_passage)})" %>


  <p>
    <%= link_to t('back'), tests_path %>
  </p>

<% end %>
