<h1><%= question_header(@question) %></h1>
<%= form_with model: resources, local: true do |form|%>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p><%= form.submit %></p>


<% end %>
<%= link_to 'Back', test_url(@question.test_id) %>