<h1><%= t('editing_answer') %></h1>

<p> <%= @answer.question.title %></p>

<%= render 'form' %>

<%= link_to t('show'), admin_answer_path(@answer) %> |
<%= link_to t('back'), admin_question_path(@answer.question) %>
