<h1><%= I18n.t('question') %>:</h1>

<p>
  <%= @answer.question.title %>
</p>

<p>
  <b>Answer:</b>
  <%= @answer.title %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<%= link_to I18n.t('edit'), edit_admin_answer_path(@answer) %> |
<%= link_to I18n.t('back'), admin_question_path(@answer.question) %>
