<h1><%= t('question') %>: </h1>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<h2>Answers</h2>

<%= link_to t('create_new'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('back'), admin_test_path(@question.test_id) %>
<%= link_to t('edit'), edit_admin_question_path %>
