<h1><%= t("Tricky Tests") %></h1>

<p><%= link_to 'New test', new_admin_test_path %></p>

<table>
  <tr>
    <th><%= t("title") %></th>
    <th><%= t("category") %></th>
    <th><%= t("level") %></th>
    <th><%= t("number_of_questions") %></th>
    <th colspan="3">Action</th>
  </tr>

    <tr>
      <%= render @tests %>
    </tr>
</table>