<h1> <%= t("test") %>: </h1>

<p>
  <strong><%= t("title") %>: </strong>
  <%= @test.title %>
</p>

<h1> <%=  t("question") %>: </h1>

<p><%= link_to t("new_question"), new_admin_test_question_path(@test) %></p>

<table>
    <th><%= t("title") %></th>
    <th colspan="4">Actions</th>
    <%= render partial:'/admin/questions/questions', collection:  @test.questions %>
</table>

<%= link_to t("back"), admin_tests_path %> |
<%= link_to t('edit'), edit_admin_test_path(@test) %>
