<h1><%= t("tests") %></h1>

<table>
  <tr>
    <th><%= t("title") %></th>
    <th><%= t("category") %></th>
    <th><%= t("level") %></th>
    <th><%= t("number_of_questions") %></th>
    <th><%= t("action") %></th>
  </tr>

    <tr>
      <%= render partial: 'tests', collection: @tests %>
    </tr>
</table>