<h1><%= I18n.t("tests") %></h1>

<table>
  <tr>
    <th><%= I18n.t("title") %></th>
    <th><%= I18n.t("category") %></th>
    <th><%= I18n.t("level") %></th>
    <th><%= I18n.t("number_of_questions") %></th>
    <th><%= I18n.t("action") %></th>
  </tr>

    <tr>
      <%= render partial: 'tests', collection: @tests %>
    </tr>
</table>