<footer>
  <p><%= I18n.t('author') %>: <%= render html: github_url('utgak', 'TestGuru') %>
  </p>

  <p>
    <%= I18n.t('ed_prj') %> <%= link_to 'Thinknetica', 'http://thinknetica.com', target: :_blank %>
  </p>
  <p> <%= I18n.t('year') %>: <%= current_year %></p>
</footer>