<!DOCTYPE html>
<html>
  <style>
    footer {
        text-align: center;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
    }
  </style>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</html>
